{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
  
  <h1>Bienvenido</h1>
  <h2><a href="{% url 'tiktok-MP3-Downloader' %}">Descargar TikTok en MP3</a></h2>
  <h2><a href="{% url 'instagram-MP4-Downloader' %}">Descargar Instagram en MP4</a></h2>
  <h2><a href="{% url 'facebook-MP4-Downloader' %}">Descargar Facebook en MP4</a></h2>

</body>
</html>